
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Akhtar Test1</title>
</head>
<body>
    <div>
        <h1> This is Akhtar Test1</h1>
        <br />
        <h1> This is Akhtar Test1 update</h1>
    </div>
</body>
</html>
