@model Poliment_DL.Model.FrontEndImageML
@{
    ViewBag.Title = "ShowFrontImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .ShowImage{
        margin-top:35px;
        width:80%;
        margin-left:120px;
        height:550px;
    }
</style>
<div >
   @if (Model != null)
   {
    <img src="@Model.ImagePath" class="ShowImage" alt="Image not found" />
   }
    
</div>
